<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Login</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

$(function () {
  $("#createNewUser").click(function () {
    window.location.href = "register";
  });
});

</script>
</head>
<body>
	<form action="" method="post">
		<fieldset>
			<legend>Please Login</legend>
			<!-- use param.error assuming FormLoginConfigurer#failureUrl contains the query parameter error -->
			<div th:if ="${param.error != null}">
				Failed to login.
				<span th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
	                  Reason: <span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
				</span>
			</div>
			<!-- the configured LogoutConfigurer#logoutSuccessUrl is /login?logout and contains the query param logout -->
			<div th:if="${param.logout != null}">You have been logged out.</div>
			<p>
				<label for="username">Username</label> <input type="text"
					id="username" name="username" />
			</p>
			<p>
				<label for="password">Password</label> <input type="password"
					id="password" name="password" />
			</p>
			<div>
				<button type="submit" class="btn">Log in</button> 
				<input type="button" style="margin-left: 3em;" id="createNewUser" value="Create New User"/>
			</div>
		</fieldset>
	</form>
</body>
</html>
