<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>eCommerce Dashboard</title>
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous" />
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
  integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
  crossorigin="anonymous" />
  <link rel="stylesheet"
  href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
<link rel="stylesheet" href="../../css/product.css" />  
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
  crossorigin="anonymous"></script>
  
<script th:inline="javascript">
/*<![CDATA[*/
$(function () {
  var formattedPrice = [[${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}]];
  $("#price").val(formattedPrice);
  
  $("#price").change(function () {
    var val = $(this).val();
    $(this).val(parseFloat(val).toFixed(2));
  });
  
  $("#saveProduct").click(function () {
    $("#frmProduct").submit();
  });
});
/*]]>*/
</script>
</head>
<body>
  
  <div th:replace="fragments/header :: header"></div>
  
  <div class="container">
    <h1>&nbsp;</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <img style="width: 20em;" class="img-responsive" th:src="${product.imageUrl}"/>
      </div>
      <form id="frmProduct" th:action="${product.id + '/edit'}" method="post">
        <input type="hidden" th:field="${product.id}"/>
        <div class="col-xs-12 col-sm-6 form-group">
          <div>
            Image Url:
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Paste in the URL for your product image." th:field="${product.imageUrl}"/>
          </div>
          <div>
            Short Description:
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Please type in a short description of your product here." th:field="${product.shortDescription}"/>
          </div>
          <div style="margin-top: 1em;">
            Long Description:
          </div>
          <div>
            <textarea class="form-control" placeholder="Please type in a description of your product here." th:field="${product.description}"></textarea>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div>Price $<input type="text" th:field="${product.price}" size="5"/></div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <button id="saveProduct" class="btn btn-primary">Save Product</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../../js/product.js"></script>
</body>
</html>